<% provide(:title, "Edit user") %>
<h1>Update the article</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render 'form' %>
    <%= link_to "Back to article", article_path %>
    <%= button_to 'Delete', @article, :method => :delete, :confirm => 'Are you sure?' %>
 </div>
</div>