<% provide(:title, t('articles.edit.title')) %>

<h1><%= t 'articles.edit.content' %></h1>

<div class="row">
  <div class="edit-form">
    <%= render 'form' %>
    <%= link_to t('articles.edit.back'), @article %>
    <%= button_to t('articles.delete'), @article, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
 </div>
</div>