<h1> All Articles </h1>

<table>#articles
  <thead>
    <tr>
      <th> Article Title </th>
      <th> Release Date </th>
      <th> More Info </th>
    </tr>
  </thead>
  <tbody>
    - @articles.each do |article|
      <tr>


      </tr>
  </tbody>
</table>
<%= link_to 'Add new article', new_article_path %>